/*body {
    margin-top: 40px;
    background-color: #435165;
}
*/

body {
    margin: 0px 0px 0px 10px;
}

.fa-plus {
    color: #B22222;
}

h1 {
    margin-bottom: 15px;
}

/*.btn-huge {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px 20px 20px 20px;
    width: 100%;
    font-size: 30px;
    border-radius: 20px;
}
*/

.centralize {
    text-align: center;
}

.login form {
    padding-top: 0px;
}

.centralize {
    text-align: center;
}

#log, .or {
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
}

button {
    margin-bottom: 20px;
    min-height: 55px;
}

.btn-top {
    width: 100%;
}